BRNAddressInfo(my_wlan NODEDEVICE:eth);

FROMRAWDEVICE(NODEDEVICE)
  -> TODUMP("RESULTDIR/NODENAME.NODEDEVICE.dump");

ps::BRN2PacketSource(SIZE VARSIZE, INTERVAL VARINTERVAL, MAXSEQ 500000, BURST VARBURST, ACTIVE true)
  -> EtherEncap(0x8089, my_wlan,  ff:ff:ff:ff:ff:ff )
  -> WifiEncap(0x00, 0:0:0:0:0:0)
  -> SetTXRate(RATE VARRATE, TRIES 1)
  -> wlan_out::SetTXPower(15);

wlan_out
  -> __WIFIENCAP__
  -> SetTimestamp()
  -> rawouttee :: Tee()
  -> fdq :: FrontDropQueue(100)
  -> TORAWDEVICE(NODEDEVICE);

rawouttee[1]
  -> tdout :: ToDump("RESULTDIR/NODENAME.NODEDEVICE.out.dump");

fdq[1]
  -> ToDump("RESULTDIR/NODENAME.NODEDEVICE.drop.dump");

SYNC
  -> tdout;
